.video-list-item {
	padding-bottom: 25%;
	min-width: 365px;
	min-height: 108px;
}

.video-list-item:hover {
	cursor: pointer;
}

#videoItemHeader {
	color: white;
}

#videoItemDescription {
	color: rgb(185, 185, 185);
}

#content {
	padding-top: 4px;
}
